{% extends 'base.html' %}
{% load static %}
{% block head %}
<style type="text/css">
 .navbar {
  background-color: transparent; !important;
  
  min-height: 80px;

}

.navbar-brand {
  font-size: 30px;
  
  color: black;
  padding: 0 15px;
  height: 70px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

.fon{background-color: white;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
        padding-bottom: 26.5px;
    line-height: 27px;
    width: 85%;
}
.fon>p{
        background-color: white;
    opacity: 0.8;
     margin-left: auto;
    margin-right: auto;
    padding-top: 26.5px;
     padding-bottom: 26.5px;
    width: 10em;
}

.navbar-nav > li > a {

    color: black;
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
    font-size: 20px;
    background-color: transparent;
  }
.container-fluid>object {

    background-color: white;
    
}
.size{background-color: white;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 26.5px;
    line-height: 27px;
    width: 50%;}

.pos{
    background-color: white;
    opacity: 0.8;
     margin-left: auto;
    margin-right: auto;
    padding-top: 26.5px;
     padding-bottom: 26.5px;
    width: 640px


 }

object{
    background-color: white;
    
    display: block;
    margin-left: auto;
    margin-right: auto
}

body { 
  background: url("{% static '1.png' %}") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.footer >p    { 
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
    font-size: 10px;
    color:  #ffffff;
    background-color: transparent;
  } 
</style>
{% endblock %}
{% block content %}
    <div class="login-form">
    <form method="post">
      {% csrf_token %}
 <div class="fon container-fluid">
    <section class="container">
        <div class="container-page">                
            <div class="col-md-6">
                <h3 class="dark-grey">Реєстрація</h3>
                <div class="form-group col-lg-12">
                    <label>Username</label>
                    <input type="" name="{{ form.username.html_name }}" class="form-control" id="" value="">
                </div>
                {% if form.username.help_text %}
                    <small style="color: grey">{{ form.username.help_text }}</small>
                {% endif %}
                <div class="form-group col-lg-12">
                    <label>Прізвише</label>
                    <input type="" name="{{ form.last_name.html_name }}" class="form-control" id="" value="">
                </div>

                <div class="form-group col-lg-12">
                    <label>Ім'я</label>
                    <input type="" name="{{ form.first_name_name.html_name }}" class="form-control" id="" value="">
                </div>
                <div class="form-group col-lg-12">
                    <label>По батькові</label>
                    <input type="" name="{{ form.middlename.html_name }}" class="form-control" id="" value="">
                </div>
                <div class="form-group col-lg-12">
                    <label>Номер групи</label>
                    <input type="" name="{{ form.group.html_name }}" class="form-control" id="" value="">
                </div>

                <div class="form-group col-lg-6">
                    <label>Пароль</label>
                    <input type="password" name="{{ form.password1.html_name }}" class="form-control" id="" value="">
                </div>
                
                <div class="form-group col-lg-6">
                    <label>Повторити пароль</label>
                    <input type="password" name="{{ form.password2.html_name }}" class="form-control" id="" value="">
                </div>
                                        
            
            </div>
        
            <div class="col-md-6">
                <h3 class="dark-grey">Можливості</h3>
                <p>
                    При реєстрації вам надається можливіть виконувати такі функції
                </p>
                <p>
                    -Пошук кабінету за номером группи 
                </p>
                <p>
                    -
                </p>
            
                
                <button type="submit" class="btn btn-primary">Зареєструватись</button>
            </div>
        </div>
    </section>
</div>
    </form>
    {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    </p>
    {% endfor %}
{% endblock %}
